/* Adding some boiler plate code to make things a little bit more straight 
forward when it comes to sizing etc */

  @import url('https://fonts.googleapis.com/css2?family=Chewy&family=Gloria+Hallelujah&display=swap');


* { 
    box-sizing: border-box;
}

body { 
    margin:0;
    padding:0;
}

.navbar { 
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#F8F6F4;
    color:#333;
    min-height:50px;
}

.brand-title { 
    font-size:3rem;
    margin:3rem;
}

.navbar-links ul {
    margin:0;
    padding:0;
    display:flex;
}

.navbar-links li { 
    /* height:50px; */
    /* background-color:pink; */
    list-style:none;

}
   
.navbar-links li a { 
    /* margin-top:10px; */
    /* font-size:2rem; */
    text-decoration: none;
    color:#333;
    padding:3rem;
    display:block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button { 
    position:absolute;
    top:2.8rem;
    right: 3rem;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    height:30px;
    width:30px;   
}

.toggle-button .bar { 
    height:3px;
    width:100%;
    background-color:#333;
    border-radius:10px;
}

@media (max-width : 670px) {
    .toggle-button { 
        display:flex;
    
    }

    .navbar-links { 
        display:none;
        width:100%;
    }

    .navbar { 
        flex-direction:column;
        align-items:flex-start;
    }

    .navbar-links ul { 
        width:100%;
        flex-direction:column;
        font-size:2rem;
    }

    .navbar-links li { 
        text-align:center;
    }

    .navbar-links li a { 
        padding: .5rem 1rem;
    }

    .navbar-links li :last-child { 
        margin-bottom: 2rem;
    }

    .navbar-links.active {
        display:flex;
    }

}

/* Styling for the color letters in the header logo */

.color-letter {
     font-family: 'Chewy', cursive;;
     font-size:3rem;
     font-weight:bold;
     text-transform: uppercase;
 
     transition:color 500ms, font-size 300ms;
 }

 .color-letter:hover { 
    font-style: oblique;
 }

 /* Styling for the game container */


#game-container { 

    background-color: red;
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:10px;
    border:10px solid black ; 

}

.box { 
    padding:5rem;
    margin:50px;
    border:5px solid black;
    border-radius:10px;
    background-color: green;
    height:100px;
    width:100px;
    display:inline-block;
}